.promotion-con {
  margin: 2rem auto;
}

.content-con {
  max-width: 1280px;
  padding: 0rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
}

.content {
  padding: 0 2rem;
  flex: 1;
}

.content img {
  max-width: 100%;
}

.menu-icon {
  display: block;
  background: none;
  border: none;
  width: 28px;
  height: auto;
  margin: 1rem 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.menu-icon .blank-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: limegreen;
  cursor: pointer;
}

.menu-icon img {
  width: 100%;
  cursor: pointer;
  pointer-events: all;
  
}

.pls-work {
  background-image: url('https://fable-tour-app-gamma.s3.ap-south-1.amazonaws.com/root/usr/org/206/443a5a856de3425a8baa9eae3f2befb4');
  background-size: cover; /* This ensures the image covers the entire div */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  width: 28px;
  height: 28px;
}

@media (max-width: 1264px) {
  .promotion-con {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .content-con {
    padding: 0rem 2rem;
  }

  .menu-icon {
    display: none;
  }
}

.content-footer-con  {
  padding: 1rem 0 !important;
}