.sidepanel-con {
  max-width: 18rem;
  position: fixed;
  top: 97px;
  padding: 0 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: calc(100vh - 97px);
  min-width: 320px;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  background-color: #f2e6fc;
  background-color: rgb(251, 246, 255);
  border-right: 1px solid rgb(208, 208, 255);
  z-index: 1;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

.sidepanel-con.show {
  /* display: block; */
  transform: translateX(0%);
}

.sidepanel-list {
  list-style-type: none;
  padding: 0;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px - 7rem);
  overflow-y: auto;
  gap: 0.25rem;
  margin-top: 2.75rem;
}

.sidepanel-list::-webkit-scrollbar {
  width: 6px;
}

.sidepanel-list::-webkit-scrollbar-track {
  background-color: rgba(169, 169, 169, 0.2);
  border-radius: 3rem;
}

.sidepanel-list::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 3rem;
}

.sidepanel-list-item {
  margin: 0;
  line-height: 1;
  color: black;
}

.sidepanel-list-item.depth-0 {
  font-weight: 600;
  font-size: 16px;
}

.sidepanel-list-item.depth-1 {
  font-size: 14px;
}

.sidepanel-list-item.depth-2 {
  font-size: 12px;
  color: gray;
}

.sidepanel-list-item .link-text {
  background: transparent;
  display: block;
  color: inherit;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 0.25rem;
}

.sidepanel-list-item .link-text.active {
  color: #fff;
  background-color: #7567ff;
}

.sidepanel-list-item.url .link-text.inactive:hover {
  background-color: rgb(246, 239, 252);
  color: black;
}

@media screen and (min-width: 992px) {
  .sidepanel-con {
    position: sticky;
    background-color: transparent;
    min-width: fit-content;
    width: fit-content;
    transform: translateX(0%);
    border-radius: 0;
    border: none;
    top: 107px;
  }

  .close-icon {
    display: none;
  }
}
