.sidepanel-con {
  max-width: 18rem;
  position: fixed;
  top: 97px;
  padding: 1rem;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: calc(100vh - 97px);
  min-width: 320px;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  background-color: #f2e6fc;
  z-index: 1;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

.sidepanel-con.show {
  /* display: block; */
  transform: translateX(0%);
}

.sidepanel-list {
  list-style-type: none;
  padding: 0;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px - 7rem);
  overflow-y: auto;
  gap: 1rem;
}

.sidepanel-list::-webkit-scrollbar {
  width: 6px;
}

.sidepanel-list::-webkit-scrollbar-track {
  background-color: rgba(169, 169, 169, 0.2);
  border-radius: 3rem;
}

.sidepanel-list::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 3rem;
}

.sidepanel-list-item {
  margin: 0;
  line-height: 1;
}

.sidepanel-list-item a {
  font-size: 1rem;
  background: transparent;
  display: block;
  color: var(--primary-color);
}

.sidepanel-list-item.url a:hover {
  color: var(--text-tertiary-color);
}

@media screen and (min-width: 992px) {
  .sidepanel-con {
    position: sticky;
    background-color: transparent;
    min-width: fit-content;
    width: fit-content;
    transform: translateX(0%);
    border-radius: 0;
  }

  .close-icon {
    display: none;
  }
}
